<!-- Footer -->
<footer class="text-center">
    <!-- Grid container -->
    <div class="container p-1">
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Depaul University Agile Software Development Group 10. 
    </div>
    <div>Logo Icon made by 
        <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> from 
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->