<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/global.css}" rel="stylesheet" />

    <!-- P5.js  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

    <!-- toastr for notifcations -->
    <script type="text/javascript" src="/js/toastr.min.js"></script>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="/js/main.js"></script>
    <title>Sensor Simulator</title>
</head>
<body class="">
        <!-- PARTIAL HEADER VIEW -->
        <div th:insert="_partialHeader.html" class="mb-4"></div>
        <div class="main-content overflow-auto">  
          <div class="container h-100 w-100">
            <div class="row mb-2 position-sticky d-flex pull-right">
              <div class="col-5 d-flex ml-1 justify-content-end">
                <!-- <button id="cleanButton" disabled onclick="clean()" class="btn btn-primary mr-3">CLEAN</button> -->
                <button id="updateButton" onclick="updateFloorPlan()" class="btn btn-primary  mr-3">Update Floor Plan</button>
              </div>
              <div class="col-3 d-flex ml-5 justify-content-end">
                <button id="resetButton" onclick="resetFloorPlan()" class="btn btn-secondary color-warning"><span class="glyphicon glyphicon-refresh float-right"></span>Reset</button>
              </div>
            </div>
            <div class="row h-100 w-100">
              <div class="col-6 mx-auto h-100 w-100">
                <div id="sketch01" class="h-100 w-100" style="position: relative;"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- PARTIAL FOOTER VIEW -->
        <div th:insert="_partialFooter.html"></div>
</body>
</html>