/SensorsCollection/target/**/*
/SensorsCollection/.idea
/SensorsCollection/target/classes
/SensorsCollection/target/generated-sources
/SensorsCollection/target/maven-archiver
/SensorsCollection/target/maven-status
/SensorsCollection/.idea
/SensorsCollection/bin
/SensorsCollection/.settings
/SensorsCollection/.project
/Portal/bin/**/*
/Portal/.idea/**/*
/Portal/target/**/*
/.idea
/.settings
/.project
.vscode/settings.json
Portal/Portal.iml
/Portal/Portal.iml

Portal/.settings/org.eclipse.jdt.apt.core.prefs
Portal/target/**/*
/Portal/.settings
Portal/.settings
SensorsCollection/.project
/target
/.metadata/
.project
.idea/misc.xml
.idea/modules.xml
.idea/SE459-Group10-Agile.iml
.idea/misc.xml
.idea/modules.xml
.idea/SE459-Group10-Agile.iml
